body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

input[type="text"] {
    height: 35px;
    width: 200px;
    background-color: darkgrey;
    border: none;
    padding: 0 10px;
    font-size: 16px;
}

button {
    height: 35px;
    width: 90px;
    background-color: burlywood;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

#task-list {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    width: 320px;
}

#task-list li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px;
    background: #fff;
    /* border-radius: 4px; */
    margin-bottom: 8px;
}


.completed span{
    text-decoration: line-through;
    color: darkgoldenrod;
}


li button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

 .editbtn{
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    width: 70px;

}

.savebtn{
        background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 80px;

}
